<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminAddNotes</servlet-name>
        <servlet-class>Admin.AdminAddNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Admin.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>Admin.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploaderAddNotes</servlet-name>
        <servlet-class>UploaderAddNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservice</servlet-name>
        <servlet-class>logoutservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceProviderAddNotes</servlet-name>
        <servlet-class>Admin.ServiceProviderAddNotes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddNotes</servlet-name>
        <url-pattern>/AdminAddNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploaderAddNotes</servlet-name>
        <url-pattern>/UploaderAddNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservice</servlet-name>
        <url-pattern>/logoutservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceProviderAddNotes</servlet-name>
        <url-pattern>/ServiceProviderAddNotes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
